.mx-5p{
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.mb-1p{
    margin-bottom: 1% !important;
}

.mt-1p{
    margin-top: 1% !important;
}

.mx-auto{
    margin-top: auto;
    margin-bottom: auto;
}

.header-title{
    width: 180px;
}

.width-100{
    width: 100%;
}

.width-10p{
    width: 10%;
}

.width-30p{
    width: 20%;
}

.width-100p{
    width: 100% !important  ;
}

.width-20p{
    width: 20% !important  ;
}

.width-50p{
    width: 50% !important;
}